/* Importing Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: #f9f9f9;
    padding: 20px;
    min-height:50px;
}

header h1 {
    display: inline;
    width: 180px;
}
       
header nav{
    padding: 20px;
    float: right;
}

.navigation-logo
{
    color: #242D42;
    font-size: 40px;
    width:  150px;
    letter-spacing: 1.5px;  
}

/* Don't show icon for when webpage becomes to small to display the nav */
header nav .menu-toggle {
    display: none;
}

.navigation-bar
{
    flex: 1;
    text-align: right;
    letter-spacing: 0.5px;
    float: right;
    margin-top: 0px;
    padding: auto;
}
.navigation-bar ul li
{
    list-style: none;  
    display:inline-block;
    position: relative;
    padding: 8px, 12px;
}
.navigation-bar ul li a
{
    color: #242D42;
    text-decoration: none;
    padding: 50px;
    font-size: 16px;
}

.navigation-bar ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #278F76;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.navigation-bar ul li:hover:after{
    width: 100%;
}

.intro-text{
    background-color: #278F76;
    color: #242D42;
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 300px;
}

.intro-text h1{
    padding-top: 100px;
    font-size: 50px;                
}

.intro-text p{
    margin: 10px 0 40px;
    font-size: 16px;

}

.get-started{
    display:inline-block;
    text-decoration: none;
    color:#f9f9f9;
    border: 3px solid #242D42;
    padding: 10px 40px;
    font-size: 24px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.get-started:hover{
    border: 1px solid #f9f9f9;
}



.why-us{
    background-color:#f9f9f9;
    color: #278F76;
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 300px;
}

.why-us p{
    margin: 10px 0 40px;
    font-size: 16px;

}

.questions{
    background-color: #242D42;
    color: #278F76;
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 300px;
}

.questions h3{
    color:#f9f9f9;
}

.email{
    display:inline-block;
    text-decoration: none;
    color:#f9f9f9;
    border: 1px solid #f9f9f9;
    padding: 5px 20px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}


footer{
    background-color: #f9f9f9;
    color: #242D42;
    text-align: center;
    min-height:50px;
    margin-top: auto;
}

footer .company-add p{
    font-size: 14px;
}


/* Media queries: for smaller screens sus */
@media screen and (max-width:1100px){
    /* Nav Bar Hidden */
    header nav ul {
        margin-top: 50px;
        margin-left: -168px;
        width: 208px;
        height: 350px;
        background: white;
        position: fixed;
        overflow: hidden;
        max-height: 0;
    }
    /* Text Spacing */
    header nav ul li {
        text-align: center;
        padding-bottom: 50px;
        width: 208px;
    }
    /* Nav Bar Unhidden */
    .showing {
        max-height: 350px;
        transition: all ease-in-out 250ms;
    }

    /* Nar Bar Icon */
    header nav .menu-toggle {
        display: block;
        position: absolute;
        color: #242D42;
        right: 10px;
        top: 30px;
        font-size: 2.5em;
    }
}

/* For the form */
body{
    background-color: #242D42;
    font-family: 'Poppins', sans-serif;
    height:100vh; margin:0;
    display: flex;
    flex-direction: column;
}
.wrapper{
    background-color:#f9f9f9;
    max-width: 500px;
    max-height: 250px;
    margin: 30px auto ;
    width: 100%;
    padding-bottom: 200px;
}

.wrapper .title{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .form .input-field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input-field label{
    width: 200px;
    color: #278F76;
    margin-right: 50px;
    font-size: 16px;
    padding-left: 20px;
}

/* hiccup here...not centered */
.wrapper .form .input-field .submit-button{
    width: 60%;
    padding: 10px 10px;
    font-size: 16px;
    border: 0;
    background-color: #278F76;
    color:#f9f9f9;
    cursor: pointer;
}